@media (min-width:320px) and (max-width:575.98px) {

  .navbar-nav {
    text-align: right;
    padding-top: 10px;
  }

  .navbar-toggler {
    background-color: #fff;
padding: 10px;}

.navbar-toggler-icon-bg {
background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");}

.navbar-toggler button {
  color: white;
}

  .menu_bg ul li a::after {
    display: none;
  }

  .menu_bg ul li a::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: red;
    transition: all linear .4s;
  }

  .menu_bg ul li a:hover::before {
    width: 100%;
    opacity: 1;
  }

  .banner_text h1 {
    font-size: 60px;
    font-weight: bold;
    color: #e23e38;
    margin: 0;
  }

  .banner_text {
    padding: 250px 50px;
  }

  .banner_text p {
    width: auto;
    margin: 0 auto;
    padding: 10px 10px 0;
  }

  /* About Us */
  #about_us .bottom {
    order: 2;
  }

  #about_us .top {
    order: 1;
  }

  .aboutus_text p {
    width: auto;
    padding: 0 10px;
  }

  /* Team */ 

  .team_overlay_content ul {
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
}

  /* Testimonial */

  .testimonial_text p {
    width: auto;
    padding: 0 10px;
  }

  .membership-card {
    margin: 0 auto;
  }

  .testimonial_slider .slick-dots {
    width: 100%;
    position: absolute;
    bottom: -15%;
    left: 67%;
    }

  

  /* Membership */

  .membership-body {
    margin-bottom: 20px;
  }

  /* footer */

  .footer_1 {
    margin: 0 auto;
    padding: 20px;
  }

  .footer_2 {
    display: none;
  }

  .footer_3 {
   display: none;
  }

  .footer_4 .contact {
    margin: 0 auto;
  }

  .footer_4 .getsocial {
    margin: 0 auto;
    padding-bottom: 15px;
  }
}

@media (min-width:576px) and (max-width:767.98px) {
  .team_overlay_content ul
  {
position: absolute;
right: 75px;
top: 50%;
transform: translateX(-50%);  
}

.testimonial_text p {
  padding: 0 10px;
}

.membership-card {
  margin: 0 auto;  
}

.footer_2 {
display: none;
}

.footer_3 {
  display: none;
  }
}

@media (min-width:768px) and (max-width:991.98) {

.menu_bg ul {
  margin-top: 10px;
}

.nav-item a {
  position: relative;
}

.nav-item a::after {
  position: absolute;
  content: '';
  height: 3px;
  width: 100%;
  background-color: red;
  bottom: 0;
  right: 0;
  opacity: 0;
}

.nav-item a:hover::after {
    width: 100%;
    opacity: 1;
  }
}